<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADD</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Compressed CSS -->


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualiseTeamOfTeamsVelocity", "TeamOfTeams")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });
        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'teamOfTeamIterationName');
            data.addColumn('number', 'incrementDeliveredVelocity');
            data.addColumn({ role: 'style' });
            data.addColumn({ role: 'annotation' });
            var dataArray = [];
            $.each(result, function (i, obj) {
                dataArray.push([obj.teamOfTeamIterationName, obj.incrementDeliveredVelocity, 'blue', obj.incrementDeliveredVelocity.toString()]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Delivered Velocity",
                width: 1000,
                height: 400,
                bar: {groupWidth: "75%"}
            }

            
            var columnChart = new google.visualization.ColumnChart(document.getElementById('columnchart_div'));
            columnChart.draw(data, columnChartOptions);
        }
    </script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ADD Coaching Program</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item text-dark dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="coachingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Coaching Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="coachingDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="People" asp-action="PersonalCoachingIndex">Individual Coaching</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="Index">Teams Coaching</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TeamOfTeams" asp-action="Index">Team of Teams Coaching</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Coaches" asp-action="Index">Coaches</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="ScrumMasters" asp-action="Index">Scrum Master Coaching</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="PersonalCoachingIndex">Individual Coaching</a>
                        </li>

                        <li class="nav-item text-dark dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Organisational Design
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="People" asp-action="Index">Individuals</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TeamOfTeams" asp-action="Index">Team of Teams</a>
                            </div>
                        </li>
                        <li class="nav-item text-dark dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="iterationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Iteration Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="iterationDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Iterations" asp-action="Index">Iterations</a>
                                <a class="dropdown-item" asp-area="" asp-controller="IterationGoals" asp-action="Index">Iteration Goals</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ProgramIncrements" asp-action="Index"> Program Iterations</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TaskLists" asp-action="Index">Task Lists</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductBacklogs" asp-action="Index">Product Backlog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductBacklogItems" asp-action="Index">Product Backlog Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Patterns" asp-action="Index">
                                Patterns
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/TeamProgramDashboard/GetBoard/1">Show Board</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Accelerated_Digital_Delivery_Coaching_Program - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
