@page
@model Accelerated_Digital_Delivery_Coaching_Program.Views.Teams.TeamDashboardModel
@{
}

<div class="container-fluid">
    <div class="row flex-row flex-nowrap overflow-auto">
      


            <div class="col-2" style="border: 2px solid black;">
                <center>
                </center>
            </div>
        
    </div>
</div>
