@model Accelerated_Digital_Delivery_Coaching_Program.Models.PersonalAssessment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Personal Assessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWithPersonID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonalAssessmentID" />
            <div class="form-group">
                <input asp-for="PersonID" asp-items="ViewBag.PersonID" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="AssessmentName" class="control-label"></label>
                <input asp-for="AssessmentName" class="form-control" />
                <span asp-validation-for="AssessmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaCoaching" class="control-label"></label>
                <select asp-for="AreaCoaching" class="form-control" asp-items="@Html.GetEnumSelectList<PersonalAssessment.AreasOfCoaching>()"></select>
                <span asp-validation-for="AreaCoaching" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalAssessmentTemplateID" class="control-label"></label>
                <select asp-for="PersonalAssessmentTemplateID" class="form-control" asp-items="ViewBag.PersonalAssessmentTemplateID"></select>
                <span asp-validation-for="PersonalAssessmentTemplateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfAssessment" class="control-label"></label>
                <input asp-for="DateOfAssessment" class="form-control" />
                <span asp-validation-for="DateOfAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextAsessmentDate" class="control-label"></label>
                <input asp-for="NextAsessmentDate" class="form-control" />
                <span asp-validation-for="NextAsessmentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NotesForAssessment" class="control-label"></label>
                <textarea asp-for="NotesForAssessment" class="form-control" rows="10" cols="50"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="SummaryResult" class="control-label"></label>
                <textarea asp-for="SummaryResult" class="form-control" rows="10" cols="50"></textarea>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Person" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
